.center {
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
}

.msg-group {
    position: absolute;
    max-width: 700px;
    height: 90%;
    overflow-y: scroll;
}

.card {
    padding: 8px 0px 8px 0px;
}

.input-group {
    position: absolute;
    height: 10%;
    bottom: 0px;
}

textarea {
    resize: none;
}
